<%- include("partials/header.ejs") %>

    <section class="hero">
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold text-body-emphasis">Unleash Creativity, One Post at a Time!</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Create Posts and Read: Your hub for literary adventures! Unleash your imagination, craft stories, and dive into a universe of endless tales. Join us in sharing and discovering captivating narratives today!</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" onclick="location.href = '/create';" class="btn btn-warning btn-lg px-4 me-sm-3">Create Posts</button>
              </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
              <div class="container px-5">
                <img src="/images/hero.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="600" loading="lazy">
              </div>
            </div>
          </div>
    </section>

    <%- include("partials/footer.ejs") %>