* {
    margin: 0;
    padding: 0;
}

.header {
    background: rgb(239, 191, 255);
    background: linear-gradient(90deg, rgba(239, 191, 255, 1) 0%, rgba(221, 122, 255, 1) 100%);
}

.footer {
    background: rgb(239, 191, 255);
    background: linear-gradient(90deg, rgba(239, 191, 255, 1) 0%, rgba(221, 122, 255, 1) 100%);
}